<h1 class="make">Criar tarefa</h1>
<form action="/tasks/add" method="post" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite a terefa...">
    </div>
    <div class="form-control">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Descreva a tarefa..." class="description"></textarea>
    </div>
    <input type="submit" value="Criar" class="button">    
</form>